<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Edit</title>
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" media="all" th:href="@{/css/Edit.css}"/>
</head>
<body>
	<header>
		<ul>
			<li><a href="Write">Write</a></li>
			<li><a href="Edit">Edit</a></li>
			<li><a href="Logout">Logout</a></li>
		</ul>
		<a href="Index" class="title">Blog</a>
	</header>
	<p class="edit" th:text="#{user.user_id}"><a href="Edit"></a></p>
		<form action="#" th:href="@{/Edit}" th:object="${userForm}" method="post">
			<div class="update">
				<ul>
					<li><input type="text" placeholder="ID" class="id" value="##0001" th:field="*{user_id}" required></input></li>
					<li><input type="password" placeholder="パスワード" class="pass" value="##0001" th:field="*{password}"></input></li>
				</ul>
			</div>
			<div  class="change">
				<button>Change</button>
			</div>
		</form>
		<footer>
			<div class="foot_wrapper">
				<ul>
					<li><a href="Index">Blog</a></li>
					<li>©2019 TSUJI AKIHIRO</li>
				</ul>
			</div>
		</footer>
</body>
</html>