<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" media="all" th:href="@{/css/Index.css}"/>
</head>
<body>
	<header>
		<ul>
			<li><a href="Write">Write</a></li>
			<li><a href="Edit">Edit</a></li>
			<li><a href="/Logout">Logout</a></li>
		</ul>
		<a href="Index" class="title">Blog</a>
	</header>
	<p class="post"><a href="Index">MyPost</a></p>
	<div class="page_wrapper" th:each="element :${artList}">
		<div class="container">
			<div class="detail">
				<h1>[[${element.title}]]</h1>
				<p class="day">[[${element.createDate}]]</p>
				<p>
					[[${element.text}]]
				</p>
			</div>
			<div class="delete">
				<a class="waves-effect waves-light btn"  th:href="@{'ArtDelete?id=' + ${element.id}}" onclick='return confirm("本当に削除しますか？");'>削除</a>
			</div>
		</div>
	</div>
	<footer>
		<div class="foot_wrapper">
		<ul>
			<li><a href="Index">Blog</a></li>
			<li>©2019 TSUJI AKIHIRO</li>
		</ul>
		</div>
	</footer>
</body>
</html>