<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="Login.css">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
	<div class="top-wrapper">
		<a href="Login.html" style="color:black; text-decoration:none;"><h1>Blog</h1></a>
		<form action="Index.html" method="post">
			<ul>
				<li><input type="text" name="loginId" placeholder="ID" class="id"></input></li>
				<li><input type="password" name="password" placeholder="パスワード" class="pass"></input></li>
			</ul>
			<button class="angle"><i class="fas fa-angle-right"></i></button>
		</form>
		<p><span>まだアカウントをお持ちではありませんか？</span><a href="Regist.html">今すぐ登録</a></p>
	</div>
</body>
</html>