<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Management</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" media="all" th:href="@{/css/Management.css}"/>
	</head>
	<body>
	<header>
		<ul>
			<li><a href="Write">Write</a></li>
			<li><a href="Edit">Edit</a></li>
			<li><a href="Logout">Logout</a></li>
		</ul>
		<a href="Index" class="title">Blog</a>
	</header>
	<div class="contents">
		<p class="management"><a href="Management">Management</a></p>
	</div>
		<div class="table_wrapper">
	      <div class="row">
		      <div class="col s4">ID</div>
		      <div class="col s4">User_ID</div>
		      <div class="col s4">
		      </div>
  		  </div>
		</div>
		<div class="table_wrapper" th:each="element :${userList}">
	      <div class="row">
		      <div class="col s4">[[${element.id}]]</div>
		      <div class="col s4">[[${element.user_id}]]</div>
		      <div class="col s4">
			      <a class="waves-effect waves-light btn"  th:href="@{'UserDelete?id=' + ${element.id}}" onclick='return confirm("本当に削除しますか？");'>削除</a>
		      </div>
  		  </div>
		</div>
		<footer>
			<div class="foot_wrapper">
				<ul>
					<li><a href="Management">Blog</a></li>
					<li>©2019 TSUJI AKIHIRO</li>
				</ul>
			</div>
		</footer>
	</body>
</html>