<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Regist</title>
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" media="all" th:href="@{/css/Regist.css}"/>
</head>
<body>
	<div class="top-wrapper">
		<a href="/" style="color:black; text-decoration:none;"><h1>Regist</h1></a>
		<form action="Index" th:href="@{/Index}">
			<ul>
				<li><input type="text" name="loginId" placeholder="ID" class="id"></input></li>
				<li><input type="password" name="password" placeholder="パスワード" class="pass"></input></li>
			</ul>
			<button class="right_angle"><i class="fas fa-angle-down"></i></button>
			<a href="/" class="left_angle"><i class="fas fa-angle-left"></i></a>
		</form>
	</div>
</body>
</html>