<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Regist</title>
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" media="all" th:href="@{/css/Regist.css}"/>
</head>
<body>
	<div class="top-wrapper">
		<a href="Regist" style="color:black; text-decoration:none;"><h1>Regist</h1></a>
		<form action="#" th:href="@{/Regist}"  th:object="${userForm}" method="Post">
			<ul>
				<li><input type="text" placeholder="ID" class="id" th:field="*{user_id}" required></input></li>
				<li><input type="text" placeholder="パスワード" class="pass" th:field="*{password}" required></input></li>
			</ul>
			<button class="right_angle"><i class="fas fa-angle-down"></i></button>
			<a href="/" class="left_angle"><i class="fas fa-angle-left"></i></a>
		</form>
	</div>
</body>
</html>