<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" media="all" th:href="@{/css/Write.css}"/>
</head>
<body>
	<header>
		<ul>
			<li><a href="Write">Write</a></li>
			<li><a href="Edit">Edit</a></li>
			<li><a href="/">Logout</a></li>
		</ul>
		<a href="Index" class="title">Blog</a>
	</header>
	<p class="write"><a href="Write">Write</a></p>
		<form action="#" th:href="@{/Write}" th:object="${articleForm}" method="post">
			<div class="page_wrapper">
				<div class="container">
					<div class="detail">
						<h1>新規投稿</h1>
						<p>タイトル</p>
						<input type="text" th:field="*{title}">
						<p>本文</p>
						<textarea th:field="*{text}"></textarea>
						<input type="submit" style="cursor:pointer;">
					</div>
				</div>
			</div>
		</form>
	<footer>
		<div class="foot_wrapper">
		<ul>
			<li><a href="Index">Blog</a></li>
			<li>©2019 TSUJI AKIHIRO</li>
		</ul>
		</div>
	</footer>
</body>
</html>